<section class="item">
      <!-- <mat-list-item> -->
      <div class="item-content">
            <input
                  [id]="item.description"
                  type="checkbox"
                  (change)="item.done = !item.done"
                  [checked]="item.done" />
            <label [for]="item.description">{{item.description}}</label>
      </div>
      <!-- <div class="action-wrapper" *ngIf="!editable">
            <button mat-stroked-button class="btn" (click)="editable = !editable">Edit</button>
            <button mat-stroked-button class="btn" (click)="remove.emit()">Delete</button>
      </div> -->
      <div class="action-wrapper" *ngIf="!editable">
            <button mat-stroked-button class="btn" (click)="openEditDialog()">Edit</button>
            <button mat-stroked-button class="btn" (click)="remove.emit()">Delete</button>
      </div>
</section>
<mat-divider></mat-divider>