
<div class="main">
  <h1>TO DO</h1>

  <div class="add-new-item">
      <span>What would you like to do today?</span>
      <input 
          #newItem
          (keyup.enter)="addItem(newItem.value); newItem.value = ''"
          class="lg-text-input" 
          id="addItemInput" />
  
      <button mat-flat-button (click)="addItem(newItem.value)">Add</button>
  </div>

  <p>
    <mat-button-toggle-group name="filterToDo" aria-label="Filter" (change)="onFilterChange($event.value)">
      <mat-button-toggle *ngFor="let f of filters" [value]="f"> {{f}}</mat-button-toggle>
      
    </mat-button-toggle-group>
  </p>

  <h2>
    {{items.length}}
    <span *ngIf="items.length === 1; else elseBlock">item</span>
    <ng-template #elseBlock>items</ng-template>
  </h2>
  
  <ul>
    <li *ngFor="let i of items">
      <app-item (remove)="remove(i)" [item]="i"></app-item>
    </li>
  </ul>
</div>
    